@tailwind base;
@tailwind components;
@tailwind utilities;

@theme light {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Outfit, Arial, Helvetica, sans-serif;
}
